body{
  background-color: #9CF6F6;
  background-image: linear-gradient(to bottom right, red, orange, yellow);
}
h1{
  fpmt-size:400%
    letter-spacing:3px;
  color:#FF7477;
  text-decoration:underline;
  text-decoration-color:#FF7477;
  font-family: "Times New Roman", Times, serif;
  
    
    
}
p{
  fpmt-size: 500;
  letter-spacing: 30px;
  
}
img{
  width: 72%
}
iframe{
  
}
ul{
  text-align: center;
  list-style-type: none;
  position: fixed;
}
li{
  float:left;
}
li a{
  padding: 20px;
  color:#CEB587;
  text-decoration: none;
  font-family: "Lucide Handwriting";
  border: dashed;
}
li a:hover{
  background-color: #FF7477
     
}
